<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-right">

    <!-- メニューの部分 -->
    <div class="member-timeline-container">
      <!-- 現在のpostのコンテンツって意味 -->

      <% @post.contents.each do |content| %>
        <% if @post.user_id != content.user_id %>
        <li class="member-timeline">
          <div class="content-member-img">
            <% if content.user_id %>
              <%= link_to image_tag("/user_images/#{content.user_id}.jpg"), "/home/profile/#{content.user_id}" %>
            <% else %>
              <img src="<%= "/default_image.jpg" %>">
            <% end %>
          </div>
          <span class="created-at"><%= time_ago_in_words(content.created_at)%></span>
          <div class="member-timeline-body">
            <!-- <%= link_to(content.content_body, "/fc_content/#{content.id}") %> -->
            <%= content.content_body %>
          </div>
        </li>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
<div>
