<!-- ファンクラブオーナーのタイムライン -->
<div class="orner-container">
  <!-- 現在のpostのコンテンツって意味 -->
  <% @post.contents.each do |content| %>
    <% if @post.user_id == content.user_id %>
    <%  user = content.user_id %>
    <% twitter_image = User.find_by(id: user) %>
      <li class="orner-timeline">
        <div class="content-member-img">
          <% if twitter_image.remote_image_name_url %>
            <%= link_to image_tag(twitter_image.remote_image_name_url), "/home/profile/#{content.user_id}" %>
          <% else %>
            <%= link_to image_tag("/user_images/default_image.jpg"), "/home/profile/#{content.user_id}" %>
          <% end %>
        </div>
        <span class="created-at"><%= time_ago_in_words(content.created_at)%></span>
          <p class="orner-timeline-body">
            <%= content.content_body %>
          </p>
      </li>
    <% end %>
  <% end %>
</div>

<!-- 会員のタイムライン -->
<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-right">
    <!-- メニューの部分 -->
    <div class="member-timeline-container">
      <!-- 現在のpostのコンテンツって意味 -->
      <% @post.contents.each do |content| %>
      <!-- ファンクラブオーナー以外のユーザー -->
        <% if @post.user_id != content.user_id %>
        <!-- このif文で投稿のuser_idをuserに代入する -->
          <%  user = content.user_id %>
        <!-- 上でuser_idを代入されたuserをUserテーブルから探す -->
          <% twitter_image = User.find_by(id: user) %>
          <li class="member-timeline">
            <div class="content-member-img">
              <% if twitter_image.remote_image_name_url %>
                <%= link_to image_tag(twitter_image.remote_image_name_url), "/home/profile/#{content.user_id}" %>
              <% else %>
                <%= link_to image_tag("/user_images/default_image.jpg"), "/home/profile/#{content.user_id}" %>
              <% end %>
            </div>
            <span class="created-at"><%= content.username %></span>
            <span class="created-at"><%= time_ago_in_words(content.created_at)%></span>
            <div class="member-timeline-body">
              <%= content.content_body %>
            </div>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- 新規投稿フォーム -->
  <div class="new-content">
    <!-- @post.idは現在のfc.idのこと -->
    <%= form_tag("/fc_content/create/#{@post.id}", :remote => true) do  %>
      <input name="content_body" placeholder="ここでコメントを送ってみよう！" type="text" class="content-new" id="input1" autocomplete="off"></input>
      <input class="submit" id="submit1" type="submit" value="送る">
    <% end %>
    <!-- フォームに１文字以上入力しないとsubmitボタンが有効にならない -->
    <script>
      $(function(){
        if ($("#input1").val().length == 0) {
          $("#submit1").prop("disabled", true);
        }
        $("#input1").on("keydown keyup keypress change", function() {
          if ($(this).val().length < 1) {
            $("#submit1").prop("disabled", true);
          } else {
            $("#submit1").prop("disabled", false);
          }
        });
      });
    </script>
  </div>
</div>
