<div class="btn btn-size-large">
  <!-- リンクにファンクラブのidを入れている -->
  <%= link_to("コンテンツを投稿する", "/fc_contents/new/#{@post.id}") %>
</div>
<!-- 現在のpostのコンテンツって意味 -->
<% @post.contents.each do |content| %>
  <div class="timeline">
      <p>投稿ID:<%= content.id %>   ユーザー:<%= content.user_id %></p>

    <li class="timeline-body">
      <%= link_to(content.content_body, "/fc_content/#{content.id}") %>
    </li>
    <li class="created-at">
      <%= time_ago_in_words(content.created_at)%>
    </li>
  </div>
<% end %>
