
<div class="main main-fc-content">
<header class="site-header flex flex--bet">
<nav class="gnav">
  <ul class="gnav__menu flex flex--bet">
    <li class="gnav__menu__item">
      <h3 class="gnav__menu__item__link"><%= @post.fc_name %><%= link_to '戻る', :back %></h3>
    </li>
  </ul>
</nav>
</header>


<script type="text/javascript">
$(function() {
  var $win = $(window),
    $header = $('header'),
    headerHeight = $header.outerHeight(),
    startPos = 0;

  $win.on('load scroll', function() {
    var value = $(this).scrollTop();
      if ( value > startPos && value > headerHeight ) {
        $header.css('top', '-' + headerHeight + 'px');
      } else {
        $header.css('top', '0');
      }
    startPos = value;
  });
});
</script>




<!-- ファンクラブオーナーのタイムライン -->
<div class="orner-container">
  <!-- 現在のpostのコンテンツって意味 -->
  <% @post.contents.each do |content| %>
    <% if @post.user_id == content.user_id %>
    <li class="orner-timeline">
      <div class="content-member-img">
        <% if content.user_id %>
          <%= link_to image_tag("/user_images/#{content.user_id}.jpg"), "/home/profile/#{content.user_id}" %>
        <% else %>
          <img src="<%= "/default_image.jpg" %>">
        <% end %>
      </div>
      <span class="created-at"><%= time_ago_in_words(content.created_at)%></span>
        <p class="orner-timeline-body">
          <!-- <%= link_to(content.content_body, "/fc_content/#{content.id}") %> -->
          <%= content.content_body %>
        </p>
      </li>
    <% end %>
  <% end %>
</div>
<!-- 会員のタイムライン -->
<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-right">

    <!-- メニューの部分 -->
    <div class="member-timeline-container">
      <!-- 現在のpostのコンテンツって意味 -->

      <% @post.contents.each do |content| %>
        <% if @post.user_id != content.user_id %>
        <li class="member-timeline">
          <div class="content-member-img">
            <% if content.user_id %>
              <%= link_to image_tag("/user_images/#{content.user_id}.jpg"), "/home/profile/#{content.user_id}" %>
            <% else %>
              <img src="<%= "/default_image.jpg" %>">
            <% end %>
          </div>
          <span class="created-at"><%= time_ago_in_words(content.created_at)%></span>
          <div class="member-timeline-body">
            <!-- <%= link_to(content.content_body, "/fc_content/#{content.id}") %> -->
            <%= content.content_body %>
          </div>
        </li>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="new-content">
    <!-- <%= link_to("新規投稿","/fc_contents/new/#{@post.id}", remote: true) %>
    <div id="sampleRemote"></div> -->

    <!-- @post.idは現在のfc.idのこと -->
    <%= form_tag("/fc_content/create/#{@post.id}") do %>
      <input name="content_body" placeholder="ここでコメントを送ってみよう！" type="text" class="content-new" autocomplete="off"></input>
      <input class="submit" type="submit" value="投稿">
    <% end %>

  </div>


</div>


<!-- スワイプ機能はなしでいいんじゃ？ -->
<!-- <div id="content" class="snap-content"> -->
  <!-- ドロワーメニューを開くボタン -->
  <!-- <a href="#" id="open-right"></a> -->
  <!-- コンテンツ部分 -->
<!-- </div> -->

<!-- <div class="btn new-content-btn btn-color-blue">
  リンクにファンクラブのidを入れている
  <%= link_to("NEW", "/fc_contents/new/#{@post.id}") %>
</div> -->


<!--
<script type="text/javascript">
// 基本的な記述です。コンテンツ部分のID名を書いておきましょう。
var snapper = new Snap({
  element: document.getElementById('content')
});

// 以下はフリックやドラッグだけでなく、ボタンでも開いたり閉じたりできるようにする記述です。
var addEvent = function addEvent(element, eventName, func) {
  if (element.addEventListener) {
      return element.addEventListener(eventName, func, false);
  } else if (element.attachEvent) {
      return element.attachEvent("on" + eventName, func);
  }
};

// ボタンのID名と揃えておきましょう。
addEvent(document.getElementById('open-right'), 'click', function(){
  snapper.open('bottom');
});
</script> -->
