<!-- <div class="main"> -->
<div class="btn btn-size-large">
  <!-- リンクにファンクラブのidを入れている -->
  <%= link_to("コンテンツを投稿する", "/fc_contents/new/#{@post.id}") %>
</div>
<!-- 現在のpostのコンテンツって意味 -->
<div class="member-timeline-container">

<% @post.contents.each do |content| %>
  <!-- このif文はファンクラブオーナーとコンテンツのuser_idが同じだった場合(ファンクラブオーナーの場合)のこと -->
  <!-- <div class="orner-container">
    <% if @post.user_id == content.user_id %>
      <div class="content-member-img">
        <% if content.user_id %>
          <%= link_to image_tag("/user_images/#{content.user_id}.jpg"), "/home/profile/#{content.user_id}" %>
        <% else %>
          <img src="<%= "/default_image.jpg" %>">
        <% end %>
      </div>
        <%= link_to(content.content_body, "/fc_content/#{content.id}") %>
  </div> -->

  <!-- elseはファンクラブの会員だった場合 -->
    <!-- <% else %> -->
      <li class="member-timeline">
        <div class="content-member-img">
          <% if content.user_id %>
            <%= link_to image_tag("/user_images/#{content.user_id}.jpg"), "/home/profile/#{content.user_id}" %>
          <% else %>
            <img src="<%= "/default_image.jpg" %>">
          <% end %>
        </div>
          <p class="content-id">投稿ID:<%= content.id %>   ユーザー:<%= content.user_id %>   <span class="created-at"><%= time_ago_in_words(content.created_at)%></span></p>
        <div class="member-timeline-body">
          <%= link_to(content.content_body, "/fc_content/#{content.id}") %>
        </div>
      </li>
    <!-- <% end %> -->

<% end %>
</div>
