<h3>プロフィール編集</h3>


<%= form_tag("/user/#{current_user.id}/update", {multipart: true}) do %>
  <p>ユーザー名</p>
  <input name="name" class="textbox-short" placeholder="<%= current_user.name %>"></input>
  <!-- <li>プロフィール写真変更</li>
  <input name="image" type="file"> -->
    <input class="btn btn-color-blue btn-size-large" type="submit" value="これで完成！">
<% end %>

<div class="header-bottom">
  <nav>
    <ul>
      <li>
        <%= link_to ("/") do %>
          <%= image_tag 'home_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
      <li>
        <%= link_to ("/#{current_user.id}/setting") do %>
          <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
