<h3 class="">加入しているファンクラブ</h3>
<% @enters.each do |enter|%>
  <% post = Post.find_by(id: enter.post_id)%>
  <%= link_to ("/fc_contents/index/#{post.id}") do %>
    <div class="enter-container">
      <table>
        <tr>
          <td class="">
            <section class="card-enter">
              <div class="card-img-parent">
                <img class="card-img" src="<%= "/post_images/#{post.id}.jpg" %>" alt="">
              </div>
              <div class="card-title">
                <%= link_to(post.fc_name, "/fc_contents/index/#{post.id}") %>
              </div>
            </section>
          </td>
          <td class="enter-fc-content">
            <div class="enter-fc-content">
              <div class=""><%= post.content %></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
<% end%>

<div class="header-bottom">
  <nav>
    <ul>
      <li><%= link_to("ホーム" , "/")%></li>
      <li><%= link_to("アカウント" , "/setting")%></li>
    </ul>
  </nav>
</div>
