<div class="main">
  <header class="site-header flex flex--bet">
    <nav class="gnav">
      <ul class="gnav__menu flex flex--bet">
        <li class="gnav__menu__item">
          <h3 class="gnav__menu__item__link">HOME</h3>
        </li>
      </ul>
    </nav>
  </header>

  <script type="text/javascript">
    $(function() {
      var $win = $(window),
        $header = $('header'),
        headerHeight = $header.outerHeight(),
        startPos = 0;

      $win.on('load scroll', function() {
        var value = $(this).scrollTop();
          if ( value > startPos && value > headerHeight ) {
            $header.css('top', '-' + headerHeight + 'px');
          } else {
            $header.css('top', '0');
          }
        startPos = value;
      });
    });
  </script>
      <% @posts.each do |post| %>
        <!-- link_to ~ do で画像全体にリンクをかけている -->
        <%= link_to ("/#{post.id}/show_fc") do %>
          <section class="card">

            <!-- 画像のリサイズをする -->
            <div class="card-img-parent">
                <img class="card-img" src="<%= "/post_images/#{post.id}.jpg" %>" alt="">

            </div>
              <div class="card-title">
                <%= link_to(post.fc_name, "/#{post.id}/show_fc") %>
              </div>
              <!-- <p class="card-text"><%= post.content %></p> -->
          </section>
        <% end %>
      <% end %>
</div>

<div class="header-bottom">
  <nav>
    <ul>
      <li>
        <%= link_to ("/") do %>
          <%= image_tag 'home_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
      <li>
        <%= link_to ("/setting") do %>
          <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
