
<%= form_tag("/home/create", {multipart: true}) do %>
  <input class="btn btn-color-blue btn-size-large" type="submit" value="これで完成！">
  <p>ファンクラブのヘッダー画像(必須)</p>
  <!-- fileボタンはcss書くの難しいから保留 -->
  <input name="post_image" type="file">
  <p>ファンクラブ名(必須)</p>
  <textarea class="textbox-short" name="fc_name" type="text" placeholder="ファンクラブ名を入力してね♡"></textarea>
  <p>ファンクラブについて(必須)</p>
  <textarea class="textbox" name="content" type="text" placeholder="ファンクラブについての説明&#13;&#10;
    ・ファンクラブでやっていくこと&#13;&#10;
    例）&#13;&#10;
    ・ファンクラブ会員限定の特別な情報を公開&#13;&#10;
    ・SNSで非公開の絵を毎週公開&#13;&#10;
    ・ライブの情報を先行配信&#13;&#10;
    ・日記を公開&#13;&#10;
    ・会員さんとゆるーくチャット&#13;&#10;"></textarea>
<% end %>

<div class="header-bottom">
  <nav>
    <ul>
      <li>
        <%= link_to ("/") do %>
          <%= image_tag 'home_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
      <li>
        <%= link_to ("/#{current_user.id}/setting") do %>
          <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
