<div class="main edit-account">
  <ul>
    <li><%= link_to "特定商取引法に基づく表記", "/policy_law" %></li>
    <li><%= link_to "よくある質問", "#" %></li>
    <li><%= link_to 'お問い合わせ', "#" %></li>
    <li><%= link_to "会員規約", "#" %></li>
    <li><%= link_to 'プライバシーポリシー', "#" %></li>

  </ul>
</div>
