
<h2>特定商取引法に基づく表記</h2>

<h3>プロジェクト実行者</h3>

<p>請求がり次第提供致しますので、必要な方は以下プラットフォーマーのお問い合わせ先までご連絡ください。</p>
<h3>運営責任者</h3>

<p>請求がり次第提供致しますので、必要な方は以下プラットフォーマーのお問い合わせ先までご連絡ください。</p>
<h3>住所</h3>

<p>請求がり次第提供致しますので、必要な方は以下プラットフォーマーのお問い合わせ先までご連絡ください。</p>
<h3>電話番号</h3>

<p>請求がり次第提供致しますので、必要な方は以下プラットフォーマーのお問い合わせ先までご連絡ください。</p>
<h3>プラットフォーマー</h3>

<p>こちら（poteto.akira@gmail.com）からお問い合わせください。
※本ファンクラブの取引は、お客様とファンクラブオーナーとの売買契約となり、リターンの配送やコンテンツ等は、ファンクラブオーナーから提供されます。
そのため、お客様・ファンクラブオーナー間のトラブルに関して、本サービス運営者は一切関与せず、責任を負いかねますので、ご了承ください。
（詳細は利用規約をご参照願います）</p>
<h3>お問い合わせ</h3>

<p>ファンクラブオーナーへのお問い合わせは、各ファンクラブページよりおこなってください。</p>
<h3>ファンクラブの会員費</h3>

<p>ファンクラブの会員費は、各ファンクラブページに記載の価格となります。
各ファンクラブページに記載の価格は、全て税込価格です。</p>
<h3>会員費以外の費用</h3>

<p>インターネット接続料金その他の電気通信回線の通信に関する費用は、お客様にて別途ご用意いただく必要があります（金額は、お客様が契約した各事業者が定める通り）。</p>
<h3>支払い方法</h3>

<p>クレジットカード（VISA, Mastercard）でのお支払いとなります。</p>
<h3>支払い期限</h3>

<p>ファンクラブ入会受付完了時に負いて課金され、以降毎月課金が行われます。</p>
<h3>返金等の対応</h3>

<p>入会したファンクラブの会員権の購入のキャンセルは、ファンクラブに明らかな欠陥や問題がある場合を除き、原則受け付けておりません。</p>

<div class="header-bottom">
  <nav>
    <ul>
      <li>
        <%= link_to ("/") do %>
          <%= image_tag 'home_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to ("/#{current_user.id}/setting") do %>
            <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
          <% end %>
        <% else %>
          <%= link_to ("/users/sign_in") do %>
            <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
          <% end %>
        <% end %>

      </li>
    </ul>
  </nav>
</div>
