<div class="main">
<div class="profile-image">
  <% if @user.image_name %>
  <img src="<%= "/user_images/#{@user.id}.jpg" %>">
   <% else %>
   <img src="<%= "/user_images/default_image.jpg" %>">
  <% end %>
</div>
<h2 class="profile-name"><%= @user.name %></h2>

  <div class="my-fc">
    <h3 class="who-make-fc"><%= @user.name %>さんが作ったファンクラブ</h3>

    <% @user.posts.each do |post|%>

      <section class="card">
        <div class="card-img-parent">
          <img class="card-img" src="<%= "/post_images/#{post.post_image}" %>" alt="">
        </div>
        <div class="card-content">
          <h1 class="card-title"><%= post.fc_name %><%= link_to(post.fc_name, "/#{post.id}/show_fc") %></h1>

          <p class="card-text"><%= post.content %></p>
        </div>
      </section>

    <% end %>

  </div>

</div>
