
  <% if @user.name %>
    <!-- アカウント登録時のユーザー名 -->
    <h2 class="title"><%= @user.name %></h2>
  <% elsif @user.username %>
    <!-- twitterのアカウント名 -->
    <h2 class="title"><%= @user.username %></h2>
  <% end %>

  <div class="profile-image">
    <!-- twitterのアイコン画像を表示 -->
    <% if @user.remote_image_name_url %>
       <%= image_tag(@user.remote_image_name_url) %>
    <% else %>
       <%= image_tag("/user_images/default_image.jpg") %>
    <% end %>
  </div>

<!-- ここからユーザーが作ったファンクラブを表示するエリア =================================-->

  <div class="my-fc">
    <h3 class="who-make-fc"><%= @user.name %>さんが作ったファンクラブ</h3>
    <% @user.posts.each do |post|%>
      <%= link_to ("/#{post.id}/show_fc") do %>
        <div class="enter-container">
          <table>
            <tr>
              <td>
                <section class="card-enter">
                  <div class="card-img-parent">
                    <% if post.fc_name == "芋あきらの部屋" %>
                      <img class="card-img" src="<%= "/post_images/poteto_akira.png" %>" alt="">
                    <% else %>
                      <img class="card-img" src="<%= "/post_images/#{post.id}.jpg" %>" alt="">
                    <% end %>
                  </div>
                  <div class="card-title">
                    <%= link_to(post.fc_name, "/fc_contents/index/#{post.id}") %>
                  </div>
                </section>
              </td>
              <td class="enter-fc-content">
                <div class="enter-fc-content">
                  <div class=""><%= post.content %></div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
<!-- ここまでユーザーが作ったファンクラブを表示するエリア =================================-->

<div class="header-bottom">
  <nav>
    <ul>
      <li>
        <%= link_to ("/") do %>
          <%= image_tag 'home_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to ("/#{current_user.id}/setting") do %>
            <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
          <% end %>
        <% else %>
          <%= link_to ("/users/sign_in") do %>
            <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
