<div class="setting main">
  <h3>設定ページ</h3>
  <table class="table-setting">
    <tr>
      <td><%= link_to 'ファンクラブ作成', home_new_fc_path %></td>
      <td><%= link_to 'アカウント編集', "/account/#{current_user.id}/edit" %></td>
      <td></td>
      <!-- <td><%= link_to '加入ファンクラブ', "/#{current_user.id}/enters" %></td> -->
    </tr>
    <tr>
      <td><%= link_to '作成済ファンクラブ', "user/#{current_user.id}/fc_list" %></td>
      <td><%= link_to 'プロフィール', "/home/profile/#{current_user.id}" %></td>
      <td></td> <!-- ここに利用規約、個人情報保護方針、特商法に基づく表記、退会とかを書く -->
    </tr>
  </table>
</div>
<div class="header-bottom">
  <nav>
    <ul>
      <li><%= link_to("ホーム" , "/")%></li>
      <li><%= link_to("アカウント" , "/setting")%></li>
    </ul>
  </nav>
</div>
