<div class="main">
  <header class="site-header flex flex--bet">
    <nav class="gnav">
      <ul class="gnav__menu flex flex--bet">
        <li class="gnav__menu__item">
          <h3 class="gnav__menu__item__link"><%= @page_name %></h3>
        </li>
      </ul>
    </nav>
  </header>
  <script type="text/javascript">
    $(function() {
      var $win = $(window),
        $header = $('header'),
        headerHeight = $header.outerHeight(),
        startPos = 0;

      $win.on('load scroll', function() {
        var value = $(this).scrollTop();
          if ( value > startPos && value > headerHeight ) {
            $header.css('top', '-' + headerHeight + 'px');
          } else {
            $header.css('top', '0');
          }
        startPos = value;
      });
    });
  </script>

<div class="setting">
  <table class="table-setting">
    <tr>
      <td><%= link_to 'ファンクラブ作成', home_new_fc_path %></td>
      <td><%= link_to 'アカウント編集', "/account/#{current_user.id}/edit" %></td>
      <td></td>
      <!-- <td><%= link_to '加入ファンクラブ', "/#{current_user.id}/enters" %></td> -->
    </tr>
    <tr>
      <td><%= link_to '作成済ファンクラブ', "user/#{current_user.id}/fc_list" %></td>
      <td><%= link_to 'プロフィール', "/home/profile/#{current_user.id}" %></td>
      <td></td> <!-- ここに利用規約、個人情報保護方針、特商法に基づく表記、退会とかを書く -->
    </tr>
  </table>
</div>
<div class="header-bottom">
  <nav>
    <ul>
      <li>
        <%= link_to ("/") do %>
          <%= image_tag 'home_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
      <li>
        <%= link_to ("/setting") do %>
          <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
</div>
