<div class="main">


<h3 class="title"><%= @post.fc_name %></h3>
<!-- ログイン状態の処理 -->
<% if user_signed_in? %>
  <!-- ファンクラブのuser.idと現在のuser.idが同じ場合(ファンクラブの管理者)の処理 -->
  <% if @user.id == current_user.id %>
    <button class="btn edit-btn">
      <%= link_to "編集" , "/#{@post.id}/edit_fc" %>
    </button>

      <!-- ===================================================== -->
      <!-- 削除ボタンはプロフィールページに表示して削除依頼という形式にする -->

        <!-- <button class="btn btn-color-danger btn-size-small">
          <%= link_to("削除する", "/#{@post.id}/fc/destroy", {method: "post"}) %>
        </button> -->
      <!-- ========================================================== -->
  <% end %>
  <!-- ファンクラブにすでに入会している場合の処理 -->
  <% if Enter.find_by(user_id: current_user.id , post_id: @post.id) %>
    <button class="btn btn-color-blue btn-size-large">
      <!-- ここからは各ファンクラブ専用サイト。validatesで制限をかける。 -->
      <%= link_to("このファンクラブの中を見る", "/fc_contents/index/#{@post.id}") %>
    </button>
    <p class="text-caution pay-caution">あなたはこのファンクラブの会員です！</p>


  <% else %>
    <!-- ファンクラブのuser.idと現在のuser.idが同じ(ファンクラブの管理者)だったら入会するボタンを非表示にする -->
    <% if @user.id != current_user.id %>
      <button class="btn btn-color-blue btn-size-large">
        <%= link_to("無料で入会する", "/enter/#{@post.id}/create",{method:"post"}) %>
      </button>
      <!-- <p class="text-caution pay-caution">このボタンをタップしてもまだ支払いは行われません</p> -->
    <% else %>
      <button class="btn btn-color-blue btn-size-large">
        <%= link_to("ファンクラブをみる", "/fc_contents/index/#{@post.id}") %>
      </button>
      <p class="text-caution pay-caution">あなたはこのファンクラブの管理人です</p>
    <% end %>
  <% end %>

<% end %>

<!-- ログインしていない場合の処理 -->
<% if !user_signed_in? %>
  <button class="btn btn-color-blue btn-size-large">
    <%= link_to("無料で入会する", "/enter/#{@post.id}/create",{method:"post"}) %>
  </button>
  <!-- <p class="text-caution pay-caution">このボタンをタップしてもまだ支払いは行われません</p> -->
<% end %>

<!-- ここからタブバーエリア ===============================================-->
<div class="tabs">
    <input id="fc" type="radio" name="tab_item" checked>
    <label class="tab_item" for="fc">ファンクラブ</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">動画</label>
    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">管理者</label>
    <div class="tab_content" id="fc_content">
      <div class="show-fc-img parent">
        <% if @post.fc_name == "芋あきらの部屋" %>
          <img class="card-img" src="<%= "/post_images/poteto_akira.png" %>" alt="">
        <% else %>
          <img class="card-img" src="<%= "/post_images/#{@post.id}.jpg" %>" alt="">
        <% end %>
      </div>

      <!-- 会員数と月額費をテーブルで作る -->
      <table class="table-show-fc ">
        <tr>
          <th>管理者</th>
          <th>月額費</th>
          <th>会員数</th>
        </tr>
        <tr>
          <% if @post.fc_name == "芋あきらの部屋" %>
            <td><%= link_to("芋あきら", "/home/profile/#{@user.id}") %></td>
          <% elsif @user.name %>
            <td><%= link_to(@user.name, "/home/profile/#{@user.id}") %></td>
          <% elsif @user.username%>
            <td><%= link_to(@user.username, "/home/profile/#{@user.id}") %></td>
          <% end %>
            <td>¥0</td>
            <td><%= @member_count %></td>
        </tr>
      </table>

      <!-- ファンクラブ詳細を書く -->
      <h4 class="about-fc">このファンクラブについて</h4>

      <p class="about-fc-content"><%= @post.content %></p>

    </div>
    <div class="tab_content" id="programming_content">
        動画がここに入ります
    </div>
    <div class="tab_content" id="design_content">
        管理者の内容がここに入ります
    </div>

    <div class="header-bottom">
      <nav>
        <ul>
          <li>
            <%= link_to ("/") do %>
              <%= image_tag 'home_aicon.png', :size =>'30x30'%>
            <% end %>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to ("/#{current_user.id}/setting") do %>
                <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
              <% end %>
            <% else %>
              <%= link_to ("/users/sign_in") do %>
                <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
              <% end %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>

<!-- ここまでタブバーエリア ===============================================-->

<% if false %>

<!-- いいねをボタンにしようと思う -->
<!-- <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
  <%= link_to("いいね！済み", "/likes/#{@post.id}/destroy", {method: "post"}) %>
<% else %>
  <%= link_to("いいね！", "/likes/#{@post.id}/create",{method:"post"}) %>
<% end%>
<%= @likes_count %> -->

<% end %>
